body {
  font-family: 'Jost', sans-serif !important; 
}
/*url link markdown*/
a {
  color: rebeccapurple;
}
a:hover{
  color: rebeccapurple;
}
h1 {
  font-size: 1.6em;
}
/*blog post font color*/
p {
  color: #e1D9D1;
}
/*layout size*/
.container-sm {
  max-width: 1200px;
} 

/*backround color*/
.bg-dark {
  background-color: #000000 !important;
}

/*posts image*/
img {
  height: 100%;
  max-height: 180px;
  width: 100%;
  max-width: 350px;
}

/*avatar/profile image*/
.img-ava {
  height: 100%;
  max-height: 180px;
  width: 100%;
  max-width: 218px;
  border-radius: 50px;
  margin-bottom: 3px;
}

.img-ava-signal {
  height: auto;
  width: 100%;
}

/*header/navbar*/
.head-rose {
  color: white;
  text-decoration: none;
}
.head-rose:hover{
  color: white;
}
.float-md-start {
  font-size: 24px;
  text-align: center;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.nav.nav-masthead.justify-content-center.float-md-end {
  padding-bottom: 50px;
}
/*lists*/

ul.lists {
  list-style: decimal-leading-zero !important;
}

/*tags*/

.tags {
  padding-left: 0px;
}

/*date blog post*/
.time {
  font-size: 14px;
  padding-bottom: 20px;
}

/*higtlight code*/
.highlight {
  border-radius: 7px;

}
code,
pre,
kbd {
  line-height: 154%;
  overflow: auto;
  max-width: 100%;
  padding: 0.2em;
  border-radius: 10px;
  padding-left: 10px;
 
  font-size: 13px !important;
}

/*social media icons*/
.social-icon {
  color:rebeccapurple;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 10px;
  font-size: 25px;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: rebeccapurple;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

html {
  width: 100%;
}

body {
  width: 100%;
}

.custom-line-spacing {
    line-height: 2; /* You can adjust this value */
}