<div class="avatar text-center">
    <img src="Moi_916.jpg" alt="My photo" class="img-ava"/>
</div>
<br>
<div class="px-3 text-center">
    <h1 style="font-size: 28px; font-family: Arial;"><strong>Jinyu LI </strong></h1>
    <div style="font-size: 16px; font-family: Palatino; color: DimGray" title="My name in International Phonetic Alphabet (IPA)">
        /tɕin<sup>214</sup>/ /y<sup>35</sup>/ /li<sup>214</sup>/ 
        <br><img src="Mon_nom_signal.svg" alt="Signal" class="img"/>
    </div>
    <p style="font-size: 19px; font-family: Palatino; color: Silver;">
        <strong>PhD in Phonetics and Speech Science</strong>
    </p>
    <br><br>
    <p style="font-size: 23px; color: DimGray; text-align: center; font-family: Palatino;">
    <span style="color: DimGray"><strong>Postdoctoral researcher</strong></span>
    <br><br><a href="https://lpp.cnrs.fr/la-recherche/projets-contrats/pasdcode" target="_blank"><span style="font-size:22px;">PASDCODE</span></a> Project<br><span style="font-size:18px; color: Silver;">(Prosody AS a Dynamic COordinative DEvice)</span>
    <br><br>
    Phonetics and Phonology <a href="https://lpp.cnrs.fr/" target="_blank">Lab</a><br>
    <span style="font-size:18px; color:Silver">(CNRS/Sorbonne Nouvelle, Paris)</span>
    </p>
    <br>
    <p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
         My research interests primarily revolve around the relationship between speech perception and production. Currently, I am investigating the influence of language-specific prosody on the emergence of speech rhythm, which plays a crucial role in constraining motor control during speech production. Additionally, I am interested in exploring cognitive aspects of speech processing in a broader context.
    </p>
    <br>
    <a href="/publications" class="button">My publications</a>
    <a href="/cv" class="button">My CV</a>
    <br>
    <br>
    <br>
    <p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
         I finished my PhD at Phonetics and Phonology Laboratory under the supervision of <a href="https://lpp.cnrs.fr/cecile-fougeron/" target="_blank">Cécile Fougeron</a> and <a href="https://www.lpl-aix.fr/contact/lancia-leonardo/" target="_blank">Leonardo Lancia</a> in 2023.</p>
    <p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
        My <a href="/phd">PhD dissertation</a> examined the emergence of <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4941787" target="_blank">rhythmic patterns</a> in speech production and their role in stabilizing it. In particular, I investigated the extent to which rhythmic organization is shaped by altered sensory input, such as auditory feedback perturbations (e.g., delayed auditory feedback and pitch shifts in auditory feedback). Additionally, I tested the hypothesis that pitch shifts in auditory feedback can affect <span title="Speakers' subjective sensation of control over the perceived characteristics of their own verbal actions">speakers' sense of agency relative to their voice</span>, which may, in turn, influence sensorimotor control processes, such as rhythmic reorganization in response to delayed auditory feedback.</p>
    <br>
    <br>
    <p style="font-size: 18px; color: DimGray; text-align: center; font-family: Palatino;">
        <strong style="color:rebeccapurple; font-family: Arial; font-size: 19px">KEY WORDS:</strong> <br>
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Speech Perception and Production
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Sensorimotor Control
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Auditory Feedback<br>
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Phonetic Alignment
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Prosody
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Speech Rhythm
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Language Processing<br>
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Sense of Agency
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Psycholinguistics
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Speech Signal Processing
    </p>
    <br>
    <br>
    <br>
</div>
