<div class="avatar text-center">
    <img src="Moi_916.jpg" alt="My photo" class="img-ava"/>
</div>
<div class="px-3 text-center">
    <h1 style="font-size: 38px; font-family: Arial;"><strong>Jinyu LI</strong></h1>
    <p style="font-size: 28px; font-family: Arial;">
        PhD in Phonetics
    </p>
    <p style="font-size: 23px; color: grey; text-align: center; font-family: Maiah;">
        <em>Hi! Welcome to my page!</em><br>
    </p>
    <br>
    <p style="font-size: 20px; color: grey; text-align: left; font-family: Maiah;">
         I currently work as a postdoctoral researcher within the project <a href="https://lpp.cnrs.fr/la-recherche/projets-contrats/pasdcode" target="_blank">PASDCODE</a> (Prosody AS a Dynamic COordinative DEvice).
        I finished my PhD at  Laboratoire de Phonétique et Phonologie (<a href="https://lpp.cnrs.fr/" target="_blank">LPP</a>, CNRS/Sorbonne Nouvelle, Paris, France) under the supervision of <a href="https://lpp.cnrs.fr/cecile-fougeron/" target="_blank">Cécile Fougeron</a> and <a href="https://www.lpl-aix.fr/contact/lancia-leonardo/" target="_blank">Leonardo Lancia</a> in 2023.
    </p>
    <p style="font-size: 20px; color: grey; text-align: left; font-family: Maiah;">
        My research interests center around the perception-production relationship and adaptation in speech production. I am also interested in speech rhythm and psycholinguistics. My <a href="/phd">PhD dissertation</a> focuses on how speech rhythm adapts to different speech production situations, i.e., those where speakers' auditory feedback is altered. Furthermore, I explore how speakers' sense of agency relative to their voice is affected by the speech production situation.
    </p>
    <p style="font-size: 20px; color: grey; text-align: left; font-family: Maiah;">
        I have a bachelor degree in French Linguistics, Literature, and Civilization, a master degree in Language Acquisition and Pathology, and another master degree in Français Langue Étrangère (French for <em>French as a foreign language</em>, FLE).
    </p>
    <br>
    <p style="font-size: 20px; color: grey; text-align: center; font-family: Maiah;">
        <strong style="color:rebeccapurple">KEY WORDS:</strong> <em>sensorimotor control, auditory feedback, phonetic alignement, speech rhythm, prosody, sense of agency, psycholinguistics, speech processing</em>
    </p>
    <br>
    <a style="font-size: 18px; font-family: Arial" class="nav-link text-white text-center" href="/publications">See my publications</a>
    <a style="font-size: 18px; font-family: Arial" class="nav-link text-white text-center" href="/cv">See my full CV</a>
    <br>
    <br>

</div>
