<div class="avatar text-center">
    <img src="Moi_916.jpg" alt="My photo" class="img-ava"/>
</div>
<div class="px-3 text-center">
    <h1 style="font-size: 38px; font-family: Arial;"><strong>LI Jinyu</strong></h1>
    <p style="font-size: 22px; font-family: Maiah;">
        /li<sup>214</sup>/ /tɕin<sup>214</sup>/ /y<sup>35</sup>/ 
    </p>
    <p style="font-size: 28px; font-family: Arial;">
        PhD in Phonetics
    </p>
    <img src="Mon_nom_signal.svg" alt="Signal" class="img"/>
    <p style="font-size: 23px; color: grey; text-align: center; font-family: Maiah;">
        <em>Hi! Welcome to my page!</em><br>
    </p>
    <br>
    <p style="font-size: 20px; color: grey; text-align: justify; font-family: Maiah;">
         I currently work as a postdoctoral researcher within the project <a href="https://lpp.cnrs.fr/la-recherche/projets-contrats/pasdcode" target="_blank">PASDCODE</a> (Prosody AS a Dynamic COordinative DEvice).
         My research interests center around the perception-production relationship and the effect of language-specific prosody on sensorimotor control in speech production.
    </p>
    <p style="font-size: 20px; color: grey; text-align: justify; font-family: Maiah;">
         I finished my PhD at  Laboratoire de Phonétique et Phonologie (<a href="https://lpp.cnrs.fr/" target="_blank">LPP</a>, CNRS/Sorbonne Nouvelle, Paris, France) under the supervision of <a href="https://lpp.cnrs.fr/cecile-fougeron/" target="_blank">Cécile Fougeron</a> and <a href="https://www.lpl-aix.fr/contact/lancia-leonardo/" target="_blank">Leonardo Lancia</a> in 2023.
        My PhD <a href="/phd">dissertation</a> focuses on how <a href="/rhythm">speech rhythm</a> adapts to different speech production situations, i.e., those where speakers' auditory feedback is altered. I have also explored how the speech production situation could affect speakers' sense of agency relative to their voice.
    </p>
    <br>
    <p style="font-size: 20px; color: grey; text-align: justify; font-family: Maiah;">
        I have a bachelor degree in French Linguistics, Literature, and Civilization, a master degree in Language Acquisition and Pathology, and another master degree in Français Langue Étrangère (FLE, French for <em>French as a foreign language</em>).
    </p>
    <br>
    <p style="font-size: 20px; color: grey; text-align: center; font-family: Maiah;">
        <strong style="color:rebeccapurple">KEY WORDS:</strong> <br>
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Speech Perception and Production
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Sensorimotor Control
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Auditory Feedback
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Phonetic Alignment<br>
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Prosody and Speech Rhythm
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Articulatory Gesture
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Sense of Agency
        <span style="color:rebeccapurple; ont-size: 25px;"><strong>#</strong></span> Speech Signal Processing
    </p>
    <br>
    <!-- <a style="font-size: 18px; font-family: Arial" class="nav-link text-white text-center" href="/publications">See my communications</a>
    <a style="font-size: 18px; font-family: Arial" class="nav-link text-white text-center" href="/cv">See my full CV</a> -->
    <a style="font-size: 18px; font-family: Arial;" class="custom-line-spacing" href="/publications"><strong>See my communications</strong></a><br>
    <a style="font-size: 18px; font-family: Arial" class="custom-line-spacing" href="/cv"><strong>See my full CV</strong></a>
    <br><br>
    <br>

</div>
