<footer class="mt-auto text-white text-center">
	<p style="font-family: Maiah;"><em>4 Rue des Irlandais, 75005, Paris, France</em></p>
	<a class="social-icon" href="/email">
		<ion-icon name="mail-outline"></ion-icon>
	</a>
	<a class="social-icon" href="https://twitter.com/Jinyuli1007LI" target="_blank">
		<ion-icon name="logo-twitter"></ion-icon>
	</a>
	<a class="social-icon" href="https://github.com/jinyulifr" target="_blank">
		<ion-icon name="logo-github"></ion-icon>
	</a>
	<a class="social-icon" href="https://www.instagram.com/_jinyu.li/" target="_blank">
		<ion-icon name="logo-instagram"></ion-icon>
	</a>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</footer>
