<header class="mb-auto">
    <div>
      <h1 class="float-md-start justify-content-center " style="font-family: Bradley Hand; font-size: 28px;"><a class="head-rose" href="/"><strong>Jinyu LI</strong></a></h1>
      <nav class="nav nav-masthead justify-content-center float-md-end" style="font-family: Bradley Hand; font-size: 19px;">
        <a class="nav-link text-white" href="/">Home</a>
        <a class="nav-link text-white" href="/publications">Publications</a>
        <a class="nav-link text-white" href="/cv">CV</a>
        <a class="nav-link text-white" href="/more">More</a>
      </nav>
    </div>
</header>