{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="font-family: Arial"><a href="/publications">Publications</a></li>
    			<li class="crumb" style="color: Silver; font-family: Arial">2024</li>
  			</ol>
		</nav>
		<br>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<br>
		<p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
			Speakers anticipate the outcomes of their behaviors, and discrepancies between sensory signals (e.g., auditory feedback) and expected outcomes prompt adjustments in their subsequent production. Modifying auditory feedback has proven to be an effective method for investigating how speakers regulate their speech by monitoring auditory feedback. Studies indicate that speakers slow down their speech rate (i.e., lengthen their syllables) when their auditory feedback is delayed. This study aims to investigate whether this adjustment of speech temporal patterns in response to delayed auditory feedback (DAF) is affected by language specific prosody pattern (e.g., accentuation) and could be mitigated if the auditory feedback consistently deviates from the speakers' predictions.</p>
		<p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
			In an experiment, 30 French female speakers were recruited and divided into three conditions. All participants were asked to repeat several times three five-syllable French sentences with DAF. For 10 participants, in addition to DAF, the pitch of their auditory feedback was constantly shifted higher; for another 10 participants, the pitch was constantly shifted lower; and for the remaining 10 participants, the pitch was not altered.</p>
		<p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
			The results indicate that under the influence of DAF, the duration difference between accented and unaccented syllables increases. Additionally, most participants whose auditory feedback pitch was altered adjusted their pitch to converge with the shifted pitch of their auditory feedback, as if perceiving the voice of another person. Furthermore, these participants exhibited a reduced enhancement in the duration difference between accented and unaccented syllables in response to DAF.</p>
		<p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
			These results indicate that, on one hand, accentuation (i.e., one of the phonological aspects of a language) can influence speech temporal control. More specifically, accented parts of utterances may be prioritized in speech temporal control when there are temporal perturbations in auditory feedback. On the other hand, the production of temporal patterns is affected by the pitch of the self-generated sound perceived during speech production. A constant discrepancy between expected pitch and perceived pitch influences temporal control during speech production. This study provides new insights into the interaction between perception and production, as well as the interplay between different aspects of speech production control. 
		</p>
		<br>
		<div class="text-center">
		<a href="/publications" target="_blank" class="button">See other publications</a>
		</div>
		<div class="text-center">
	    <a style="font-size: 18px; font-family: Arial;" class="custom-line-spacing" href="/"><strong>Home</strong></a>
   		</div>
		<br><br>
	</main>
{{ end }}