{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb"><a href="/">Home</a></li>
    			<li class="crumb" style="color: grey">CV</li>
  			</ol>
		</nav>
		<h1 style="font-size: 38px" class="text-center">{{ .Title }}</h1><br>
		<p style="font-size: 19px; color: grey; text-align: left">
			You can see my full <a href="" download="Charte_API_2020_fr.pdf">CV</a> here (updated January 2024).
		</p>
		<br>
		<br>
		<hr>
		<h4>My technical skills</h4>
		<hr>
		<p style="font-size: 19px; color: grey; text-align: left">
			<strong>Programming: </strong> Python, HTML, CSS<br>
			<strong>Analysis: </strong> R, Praat<br>
			<strong>Others: </strong> Photoshop, Lightroom<br>
		</p>
		<br>
		<p style="font-size: 20px; color: rebeccapurple"><em>I'm keeping learning more !!!</em></p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</main>
{{ end }}