{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="color: Silver; font-family: Arial">CV</li>
  			</ol>
		</nav>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<p style="font-size: 18px; color: DimGray; text-align: center; font-family: Palatino;">
			You can see my full CV <a href="https://drive.google.com/file/d/1_gT4V1c7nJdU-LPMwIswTftCukKN8ceC/view?usp=sharing" download target="_blank"><strong>here</strong></a> (updated Oct 2024)
		</p>
		<br>
		<h4 style="font-size: 23px; font-family: Arial;"><strong>My skills</strong></h4><br>
		<p style="font-size: 18px; color: DimGray; text-align: left; font-family: Arial;"><strong><em>Programming: </em></strong></p>
				<ul style="font-size: 18px; text-align: left; font-family: Palatino; color: DimGray">
				<li>Python (working knowledge in data processing)</li>
				<li>R (working knowledge in statistical analysis)</li>
				<li>Matlab (basic knowledge)</li>
				<li>HTML, CSS (basic knowledge)</li> </ul><br>
		<p style="font-size: 18px; color: DimGray; text-align: left; font-family: Arial;"><strong><em>Tools: </em></strong>
			<span style="font-size: 18px; text-align: left; font-family: Palatino; color: DimGray;">
				Electroglottograph (EGG), Microsoft Office, Praat, Audacity, Photoshop, Lightroom</span></p>
		<br>
		<p style="font-size: 18px; color: DimGray; text-align: left; font-family: Arial;"><strong><em>I wish I could learn to use  </em></strong> <span style="font-size: 18px; text-align: left; font-family: Palatino; color: DimGray">    EMA, EEG ...</span></p>
		<div class="text-center">
   		 <a style="font-size: 18px; font-family: Arial;" class="custom-line-spacing" href="/"><strong>Go back Home</strong></a><br>
   		</div>
   		<br>
   		<br>
	</main>
{{ end }}