{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="color: grey; font-family: Arial">CV</li>
  			</ol>
		</nav>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<p style="font-size: 20px; color: grey; text-align: center; font-family: Maiah;">
			You can see my full <a href="/CV_Jinyu LI.pdf" download target="_blank">CV</a> here (updated January 2024).
		</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h4 style="font-size: 23px; font-family: Arial;">My technical skills</h4>
		<p style="font-size: 20px; color: grey; text-align: left; font-family: Maiah;">
			<strong>Programming: </strong> Python, HTML, CSS<br>
			<strong>Analysis: </strong> R, Praat<br>
			<strong>Others: </strong> Photoshop, Lightroom<br>
		</p>
		<br>
		<p style="font-size: 22px; color: rebeccapurple; font-family: Maiah; text-align: center;"><em>I'm keeping learning more !!!</em></p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</main>
{{ end }}