{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="color: grey; font-family: Arial">email</li>
  			</ol>
		</nav>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<p style="font-size: 20px; color: grey; font-family: Maiah; text-align: left">jinyu . li (at) sorbonne - nouvelle.fr  <a href = "mailto: jinyu.li@sorbonne-nouvelle.fr">Click</a></p>
		<p style="font-size: 20px; color: grey; font-family: Maiah; text-align: left">jinyuli1007 (at) outlook . com  <a href = "mailto: jinyuli1007@outlook.com">Click</a></p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</main>
{{ end }}