{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="color: Silver; font-family: Arial">email</li>
  			</ol>
		</nav>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<p style="font-size: 18px; color: DimGray; font-family: Palatino; text-align: left">jinyu(point)li(at)sorbonne(hyphen)nouvelle.fr  <a href = "mailto: jinyu.li@sorbonne-nouvelle.fr">Click</a></p>
		<p style="font-size: 18px; color: DimGray; font-family: Palatino; text-align: left">jinyu.li(at)univ(hyphen)lille(point)fr  <a href = "mailto: jinyu.li@univ-lille.fr">Click</a></p>
		<br>
		<br>
		<div class="text-center">
   		 <a style="font-size: 18px; font-family: Arial;" class="custom-line-spacing" href="/"><strong>Go back Home</strong></a><br>
   		</div>
   		<br><br><br><br><br><br><br><br><br><br><br>
	</main>
{{ end }}