{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="color: grey; font-family: Arial">More</li>
  			</ol>
		</nav>
		<br>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<p style="font-size: 18px; color: DimGray; text-align: left; font-family: Palatino;">
			Coming soon ...<br><br>
		</p>
		<br>
		<br>
		<div class="text-center">
   		 <a style="font-size: 18px; font-family: Arial;" class="custom-line-spacing" href="/"><strong>Go back Home</strong></a><br>
   		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</main>
{{ end }}