{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="color: grey; font-family: Arial">More</li>
  			</ol>
		</nav>
		<br>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<p style="font-size: 20px; color: grey; text-align: left; font-family: Maiah;">
			I’m a photohraphy amateur. I like walking around in cities with my camera.<br><br>
			You can find some of my photos here.
			<a class="social-icon" href="https://www.instagram.com/_jinyu.li/" target="_blank">
				<ion-icon name="logo-instagram"></ion-icon>
			</a>
			<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
			<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		</p>
		<div class='pixels-photo'>
		<a href='https://500px.com/photo/1084454142/jardin-des-tuileries-by-jinyu-li' alt='Jardin des Tuileries by Jinyu LI on 500px.com'>
 		 <img src='https://drscdn.500px.org/photo/1084454142/q%3D80_m%3D600/v2?sig=c384ff0216730e516cb21f8a212f329e4f89f8e810b176b5d36c8ef6135eae63' alt='Jardin des Tuileries by Jinyu LI on 500px.com' class="img-ava-photo"/>
		</a>
		</div>
		<script type='text/javascript' src='https://500px.com/embed.js'></script>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</main>
{{ end }}