{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb"><a href="/">Home</a></li>
    			<li class="crumb" style="color: grey; font-family: Arial">More</li>
  			</ol>
		</nav>
		<br>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<p style="font-size: 20px; color: grey; text-align: left; font-family: Maiah;">
			I’m a photohraphy amateur. I like walking around in cities with my camera.<br><br>
			You can find some of my photos here.
			<a class="social-icon" href="https://www.instagram.com/_jinyu.li/" target="_blank">
				<ion-icon name="logo-instagram"></ion-icon>
			</a>
			<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
			<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</main>
{{ end }}