{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="color: Silver; font-family: Arial">Dissertation</li>
  			</ol>
		</nav>
		<br>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<br>
		<p style="font-size: 23px; color: rebeccapurple; text-align: center; font-family: Arial">
			<strong>Title: Interaction between rhythmic structure and sense of agency in speech production</strong>
		</p>
		<br>
		<p style="font-size: 22px; color: DimGray; text-align: center; font-family: Palatino;">
			<em><a href="/email">Contact me</a> to see the manuscript</em>
		</p>
		<br>
		<hr>
		<h4 style="font-size: 20px; font-family: Arial; " class="text-center"><strong>Abstract</strong></h4>
		<hr>
		<p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
			To adapt to unforeseen circumstances during speech production, the motor system integrates sensory information (e.g., auditory feedback) and benefits from rhythmic grouping, which is characterized by prosody. However, a speaker's sensorimotor system processes acoustic events related to their own voice differently from those of others. This thesis aims to examine the flexibility of speech production by analyzing the organizing role of both prosody and a speaker's subjective sensation of control over his voice (i.e., the sense of agency related to his voice).
		</p>
		<p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
			Experiments of auditory feedback perturbations were conducted with French-speaking female speakers. With delayed auditory feedback (DAF), the duration difference between accented and unaccented vowels increased, highlighting greater flexibility during accent production. Furthermore, DAF induced a reorganization of speech rhythm with enhanced syllabic grouping. With a constant shift in the fundamental frequency (f0) of auditory feedback, the majority of female speakers aligned their f0 with the modified auditory feedback, suggesting that their sensorimotor system processed the perceived voice as an external input. The simultaneous presence of DAF and an f0 shift resulted in a reduction of DAF effects compared to the condition without an f0 shift. This observation suggests a reduction in the sense of agency related to the voice among female speakers, as well as an interaction between rhythmic organization and sense of agency in sensorimotor processes of speech production.
		</p>
		<br>
		<h4 style="font-size: 19px; font-family: Arial;"><strong><em>Committees:</em></strong></h4>
		<ul style="font-size: 18px; color: DimGray; text-align: left; font-family: Palatino;">
			<li>Pascal PERRIER (pre-reporter): Grenoble INP/Université Grenoble Alpes</li>
			<li>Corine ASTESANO (pre-reporter): Université Toulouse - Jean Jaurès</li>
			<li>Louis GOLDSTEIN (examiner): University of Southern California</li>
			<li>Noël NGUYEN (president): Aix-Marseille Université</li>
			<li>Yao YAO (examiner): Hong Kong Polytechnic University</li>
			<li>Cécile FOUGERON (supervisor): Université Sorbonne Nouvelle </li>
			<li>Leonardo LANCIA (supervisor): Aix-Marseille Université</li>
		</ul><br>
		<div class="text-center">
	    <a style="font-size: 18px; font-family: Arial;" class="custom-line-spacing" href="/"><strong>Go back Home</strong></a>
   		</div>
		<br>
	</main>
{{ end }}