{{ define "main" }}
	<main>
		<nav class="crumbs">
				<ol>
				<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
				<li class="crumb" style="color: grey; font-family: Arial">Publications</li>
				</ol>
		</nav>
		<br>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<hr>
		<h4 style="font-size: 23px; font-family: Arial;">International communication</h4>
		<hr>
		<ul style="font-size: 20px; text-align: left; font-family: Maiah;">
			<li> <span style="color: rebeccapurple;">[2023]</span> Are you sure it’s your voice? Exploring the relations between phonetic alignment and sense of agency <span style="color: grey;">(9th Joint Action Meeting, Budapest, Hungary)</span><br>
			<strong>Jinyu Li</strong> and Leonardo Lancia</li><br>
			<li> <span style="color: rebeccapurple;">[2023]</span> How speech rate, syllabic complexity and diversity affect the emergence of speech rhythm in speeded syllable repetition <span style="color: grey;">(20th International Congress of Phonetic Sciences, Prague, Czech Republic)</span><br>
			Leonardo Lancia, <strong>Jinyu Li</strong> and Cécile Fougeron</li><br>
			<li> <span style="color: rebeccapurple;">[2022]</span> Effects of delayed auditory feedback interacting with prosodic structure <span style="color: grey;">(Speech Prosody, Lisbon, Portugal)</span> DOI: <a href="10.21437/SpeechProsody.2022-65">10.21437/SpeechProsody.2022-65</a>
			<strong>Jinyu Li</strong> and Leonardo Lancia</li><br> 
			<li> <span style="color: rebeccapurple;">[2022]</span> Unveiling the coordinative role of prosody in speech production through multiscale analysis of the modulatory activity underlying speech production <span style="color: grey;">(8th International Conference on Speech Motor Control, Groningen, the Netherlands)</span><br>
			Leonardo Lancia, <strong>Jinyu Li</strong> and Cécile Fougeron</li><br>
			<li> <span style="color: rebeccapurple;">[2020]</span> Speech production in response to multiple perturbations of auditory feedback <span style="color: grey;">(12th International Seminar on Speech Production, Online)</span><br>
			<strong>Jinyu Li</strong> and Leonardo Lancia</li><br>
			<li> <span style="color: rebeccapurple;">[2020]</span> Complexity patterns underlying speech production activity <span style="color: grey;">(12th International Seminar on Speech Production, Online)</span><br>
			Leonardo Lancia, <strong>Jinyu Li</strong>, and Louis Goldstein</li><br>
			<li> <span style="color: rebeccapurple;">[2018]</span> Manipulating verbal interaction via artificial agents to study inter-speaker coordination <span style="color: grey;">(Social cognition in humans and robots, Hamburg, Germany)</span><br>  
			Leonardo Lancia, <strong>Jinyu Li</strong>, Thierry Chaminade, Noël Nguyen, and Laurent Prevot</li><br>
		</ul>
		<hr>
		<h4 style="font-size: 23px; font-family: Arial;">National communication</h4>
		<hr>
		<ul style="font-size: 20px; text-align: left; font-family: Maiah;">
			<li> <span style="color: rebeccapurple;">[2022]</span>  Restructuration rythmique de la parole produite sous feedback auditif retardé <span style="color: grey;">(XXXIVe Journées d’Études sur la Parole — JEP 2022, ISCA)</span> DOI: <a href="10.21437/JEP.2022-59">10.21437/JEP.2022-59</a><br>
        	<strong>Jinyu Li</strong> and Leonardo Lancia</li><br>
			<li> <span style="color: rebeccapurple;">[2020]</span> Production de la parole en réponse à de multiples perturbations du feedback auditif <span style="color: grey;">Actes de la 6e conférence conjointe Journées d’Études sur la Parole (JEP, 33e édition), Traitement Automatique des Langues Naturelles (TALN, 27e édition), Rencontre des Étudiants Chercheurs en Informatique pour le Traitement Automatique des Langues (RÉCITAL, 22e édition). Volume 1: Journées d’Études sur la Parole, Nancy, France: ATALA et AFCP, 2020, pp. 370–378.</span><br>
			<strong>Jinyu Li</strong> and Leonardo Lancia</li><br>
		</ul>
		<a style="font-size: 18px; font-family: Arial" class="nav-link text-white text-center" href="/">Go back to Home</a>
		<a style="font-size: 18px; font-family: Arial" class="nav-link text-white text-center" href="/cv">See my full CV</a>
		<br>
		<br>
	</main>
{{ end }}