{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="color: Silver; font-family: Arial">Dissertation</li>
  			</ol>
		</nav>
		<br>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<br>
		<p style="font-size: 23px; color: rebeccapurple; text-align: center; font-family: Arial">
			<strong>Teaching Activities 2025–2026</strong>
		</p>
		<p style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
			<ol type="1"; style="font-size: 18px; color: DimGray; text-align: justify; font-family: Palatino;">
				<li>The Languages of the World for Bachelor’s students (distance)</li>
				<li>Phonetics for Bachelor’s students (distance)</li>
				<li>Statistics for Bachelor's students in Linguistics (distance)</li>
				<li>Statistics for Master’s students in Linguistics</li>
				<li>Corpus linguistic for Bachelor's students</li>
		</p>
	</main>
{{ end }}