{{ define "main" }}
	<main>
		<nav class="crumbs">
  			<ol>
    			<li class="crumb" style="font-family: Arial"><a href="/">Home</a></li>
    			<li class="crumb" style="color: Silver; font-family: Arial">Teaching</li>
  			</ol>
		</nav>
		<br>
		<h1 style="font-size: 38px; font-family: Arial;" class="text-center"><strong>{{ .Title }}</strong></h1><br>
		<br>
		
		<p style="font-size: 18px; color: DimGray; text-align: left; font-family: Arial;"><strong><em>Undergraduate courses: </em></strong></p>
				<ul style="font-size: 18px; text-align: left; font-family: Palatino; color: DimGray">
				<li>Corpus Linguistics</li>
				<li>Phonetics</li>
				<li>Statistics</li>
				<li>Research Methods in Linguistics</li>
			</ul><br>

		<p style="font-size: 18px; color: DimGray; text-align: left; font-family: Arial;"><strong><em>Graduate courses: </em></strong></p>
				<ul style="font-size: 18px; text-align: left; font-family: Palatino; color: DimGray">
				<li>Quantitative Methods in Language Sciences</li>
				<li>Automated Acoustic Analysis</li>
			</ul><br>


		<div class="text-center">
   		 <a style="font-size: 18px; font-family: Arial;" class="custom-line-spacing" href="/"><strong>Go back Home</strong></a><br>
   		</div>
	</main>
{{ end }}